/* 대시보드 스타일 */
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f7f3fd; /* 연한 보라색 배경 */
}

.statistics-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px; /* 차트와의 간격 */
}

.card {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 효과 */
}

.card i{
    font-size: 30px;
    color: #6B3FA0;
}

.card:hover {
    transform: translateY(-5px); /* 호버 효과 */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #6B3FA0;
}

.card p {
    font-size: 14px;
    color: #6c757d;
}

.change{
    margin-top: 5px;
    font-weight: bold;
    color: #28a745;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-item {
    width: 48%; /* 두 개의 차트를 나란히 표시 */
    margin-bottom: 20px;
}

/* 반응형 레이아웃 */
@media (max-width: 768px) {
    .chart-item {
        width: 100%; /* 작은 화면에서는 차트를 한 줄로 표시 */
    }
}